.selfImage {
  display: block;
  justify-content: center;
}

/* For mobile phones: */
[class*="img-"] {
  background-image: url("../../src/styling/images/IMG_8423.JPG");
  background-size: cover;
  background-position: center;
  background-color: aqua;
  background-size: 550px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 0% 60%;
  overflow: hidden;
  /* Centers image within the div */
  display: block;
  margin: auto;
  box-shadow: 0 0 8px 8px aqua inset;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .img-desktop {
    width: 500px;
    height: 500px;
  }

  .heroRow {
    padding: 10px 0px;
  }

  .hero-text {
    color: black;
    text-align: left;
    margin-left: 4rem;
  }
}
