.heroText {
  color: black;
  text-align: left;
  display: inline-block;
}

.selfImage {
  display: block;
  justify-content: center;
}

.heroContainer {
  background-color: aqua;
}

/* For mobile phones: */
[class*="img-"] {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0% 60%;
  overflow: hidden;
  /* Centers image within the div */
  display: block;
  margin: auto;
  padding: 10px 0px 0px 0px;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .img-desktop {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: 0% 60%;
    overflow: hidden;
    /* Centers image within the div */
    display: block;
    margin: auto;
    padding: 0px 0px 0px 0px;
    border-radius: 20px;
  }
  
  .heroRow{
    padding-top: 10px;
  }
}
