.background-image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0, 0.75),
      rgb(0, 0, 0.75)
    ),
    url("../styling/images/P1000550.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}

.intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  color: aqua;
}
