.projectsSection-body {
  padding-bottom: 20px;
}

.projectsSection-title-desktop {
  color: green;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutMe-description-desktop {
  text-align: center;
  padding: 0px 40px;
}

.project-card-desktop {
  width: 15rem;
}

[class*="projectsSection-title-"] {
  color: green;
  text-align: center;
  padding: 30px 0px 10px;
  font-weight: 700;
  text-decoration: underline;
}

/* For mobile phones: */
[class*="project-card-"] {
  width: 10rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .project-card-desktop {
    width: 10rem;
  }

  .projectsSection-title-desktop {
    font-size: 50px;
  }
}
