.projectsSection-body {
  padding-bottom: 20px;
  background-image: linear-gradient(aqua, white);
}

[class*="projectsSection-title-"] {
  color: green;
  text-align: center;
  padding: 20px 0px 10px;
  font-weight: 700;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .projectsSection-title-desktop {
    font-size: 50px;
  }
}
