.company-buttons {
  text-align: center;
  padding-bottom: 10px;
}

.company-box {
  display: flex;
  border-style: solid;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  background-color: white;
}

[class*="workExeperience-title-"] {
  color: green;
  text-align: center;
  padding: 20px 0px 10px;
  font-weight: 700;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .workExeperience-title-desktop {
    font-size: 50px;
  }
}
